@charset "UTF-8";

@media screen and (min-width: 0px) and (max-width: 1023px){
/*  ----------  Section Header  ---------- */ 
    header .btn {
        display: block;
        color: white;
    }
    header.sticky .btn {
        color: orangered;
    }
    header nav{
        position: fixed;
        background: rgba(255, 255, 255, 0.921);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        min-width: 100%;
        height: 100vh;
        top: 0;
        right: -100%;
        padding: 80px 20px;
        transition:  0.5s;
        transition-property: right;
    }
    header .menu.active{
        right: 0;
    }
    header .menu .close-btn{
        position: absolute;
        top: 0;
        left: 87%;
        margin: 15px 0px 0px 0px;
        padding: 10px 12px;
        background-color: black;
        border: orangered solid 1px;
        border-radius: 7px;
    }
    header nav a{
        display: block;
        font-size: 20px;
        margin: 20px;
        padding: 0 15px;
        font-size: 2rem;
        font-weight: 400;
        color: black;
        text-shadow: 3px 3px 3px rgba(78, 78, 78, 0.622);
    }
    header nav a:hover{
        color: orangered;
    }
    header .button {
        display: none;
    }    

/*  ----------  Section Main Home  ---------- */ 
    main .home {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
        width: 100%;
        margin: auto;
    }
    main .home .container {background-color: rgba(255, 255, 0, 0);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 85%;
        max-width: 700px;
        height: 85%;
        text-align: left;
    }
    main .home .container article {background-color: rgba(255, 0, 0, 0);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 90%;
    }
    main .home .container article h1{background-color: rgba(255, 255, 255, 0);
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        font-size: 4rem;
        line-height: 0.8;
    }
    main .home .container article h2{background-color: rgba(255, 255, 255, 0);
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        font-size: 1.5rem;
        color: rgb(255, 255, 255);
    }
    main .home .container article h3{background-color: rgba(255, 255, 255, 0);
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        font-size: 2rem;
        color: rgb(255, 255, 255);
    }
    main .home .container article .button{background-color: rgba(255, 68, 0, 0);
        display: flex;
        align-items: flex-start;
        justify-content: left;
        width: 100%;
        padding: 10px 0;
    }
    main .home .container article a{background-color: rgb(255, 68, 0);
        display: flex;
        align-items: flex-start;
        justify-content: center;
        width: 100%;
        max-width: 400px;
        padding: 10px 0;
    }
    main .home .container aside {background-color: rgba(13, 0, 255, 0);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        height: 5%;
        text-align: left;
    }

/*  -----------  Section Soluções  ----------  */
    main .solucoes {background-color: rgba(255, 0, 0, 0);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 1100px;
        margin: auto;
        padding: 100px 0;
    }
    main .solucoes h2{
        margin: 100px 0px 0px 0px;
        font-size: 50px;
        line-height: 0px;
        text-align: center;
    }
    main .solucoes .container {background-color: rgba(0, 255, 255, 0);
        flex-wrap: wrap;
        width: 95%;
    }
    main .solucoes .container .box{
        width: 90%;
        max-width: 350px;
        height: 300px;
        margin-bottom: 10px;
        padding: 0 40px;
        transition: all .3s ease;
    }
    main .solucoes .container .box i{
        font-size: 50px;
        margin: 0px;
    }
    main .solucoes .container .box h3{
        font-size: 1.2em;
        margin: 0px;
    }
    main .solucoes .container .box p{
        font-size: .8em;
        margin: 0px;
    }
    main .solucoes .container .box a{
        margin: 20px 0px 0px 0px;
        padding: 5px 50px;
    }
/*  -----------  Section Sobre  ----------  */
    main .sobre{background-color: rgba(0, 0, 255, 0);
        display: flex;
        justify-content: center;
        align-items: flex-start;
        margin-top: 100px;
        height: 1300px;
    }
    main .sobre .container{background-color: rgba(137, 43, 226, 0);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    main .sobre article {background-color: rgba(0, 128, 0, 0);
        width: 95%;
    }
    main .sobre aside{background-color: rgba(165, 42, 42, 0);
        width: 95%;
        align-items: center;
        text-align: center;
    }

/*  -----------  Section Contatos  ----------  */
    main .contatos{background-color: rgba(127, 255, 212, 0.944);
        display: flex;
        justify-content: center;
        align-items: flex-start;
        height: 1250px;
    }
    main .contatos .container{background-color: rgb(137, 43, 226);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 95%;
        text-align: center;
    }
    main .contatos .container article{ background-color: rgba(51, 0, 255, 0.947);
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        width: 90%;
    }
    main .contatos .container article .ctt-txt{background-color: rgb(204, 255, 0);
        padding: 20px;
        text-align: left;
    }
    main .contatos .container article p{
        padding: 0px 0;
    }
    main .contatos .container .whatsapp {background-color: rgba(255, 0, 0, 0);
        width: 100%;
        padding: 20px 0%;
        font-size: 1rem;border: none;
    }
    main .contatos .container .whatsapp a{background-color: green;
        width: 100%;
        padding: 15px 50px;
        font-size: 1rem;color: white;
    }
    main .contatos aside{background-color: rgb(255, 0, 0);
        width: 100%;
        height: 100%;
        margin: 20px 0;
    } 
    
/*  -----------  Section Footer  ----------  */
    footer {
        font-size: .8em;
        text-align: center;
    }
    footer a {
        color: orangered;
    }
}   