@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    transition: all .3s ease;
}
::-webkit-scrollbar{
    width: 7px;
}
::-webkit-scrollbar-track{
    background: #ffffff;
}
::-webkit-scrollbar-track:hover{
    background: #ffffff85;
}
::-webkit-scrollbar-thumb{
    background: orangered;
    border-radius: 20px;
}
@keyframes fadIn{
    0%{
        transform: scale(.0);
        opacity: 0;
    }
}

body{
    min-height: 100vh;
}


header{background-color: rgba(172, 255, 47, 0);
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 5%;
    transition: .5s;
}
header .brand{
    color: orangered;
    font-size: 2.5rem;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 7px;
}
header nav a {
    margin: 10px;
    font-size: 1.2rem;
    font-weight: 200;
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: all .3s ease;
    transition-property: color,;
}
header nav a:hover {
    color:orangered;
}
header .btn{
    color: black;
    font-size: 25px;
    cursor: pointer;
    display: none;
}
header.sticky{
    background: #ffffff;
    padding: 5px 7%;
    box-shadow: 0px 10px 10px 0px #000000a1;
    border-bottom: orangered solid 5px;
}
header.sticky nav a{
    color: #000000;
}
header.sticky nav a:hover {
    color:orangered;
}

header .button{
    background: #29A71A;
    color: #ffffff;
    font-weight: 300;
    padding: 5px 20px;
    border-radius: 5px;
    border: solid 2px #ffffff;    
}
header .button:hover{
    background: orangered;
    color: rgb(255, 255, 255);
}
header.sticky .button{
    color: #ffffff;
}
header.sticky .button:hover{
    color: #ffffff;
}

/*  -----------  Section Home  ----------  */
main .home{/*background: rgb(255, 0, 0);*/
    background-image: linear-gradient(-45deg, rgba(255, 68, 0, 0.116) 10%, rgba(0, 0, 0, 0.842) 64%),url(../img/bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    margin: auto;
}
main .home .container{background-color: rgba(255, 6, 6, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 85%;
    max-width: 1500px;
    height: 500px;
    margin: auto;
    padding: 20px 0;
    border: rgba(255, 68, 0, 0) solid 3px;

}
main .home .container article { background: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 70%;
    height: 100%;
    color: white;
    animation:fadIn .9s linear backwards .9s;

}
main .home .container article h1{
    font-size: 5vw;
    font-weight: 800;
    line-height: 0.7;
    color: orangered;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.392);
}
main .home .container article h2{
    font-size: 2rem;

}
main .home .container article h3{
    font-size: 3rem;

}
main .home .container article p{
    margin: 10px 0;
    font-size: 1.3rem;

}
main .home .container article .button{background: rgba(15, 11, 10, 0);
    color: #ffffff;
    width: 100%;
    margin: 10px 0;
    padding: 20px 0px;
}
main .home .container article a{
    background: orangered;
    color: #ffffff;
    margin: 10px 0;
    padding: 15px 70px;
    border: #ffffff solid 2px;
    border-radius: 10px;
}
main .home .container article a:hover{
    background-color: rgb(208, 55, 0);
}
main .home .container aside {background:rgb(255, 68, 0);
    display: none;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}
main .home .container aside iframe{background-color: rgba(255, 238, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    width: 70%;
    height: 100%;
}

/*  -----------  Section Soluções  ----------  */
main .solucoes{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}
main .solucoes h2{
    margin: 100px 0 50px 0;
    font-size: 50px;
    font-weight: 700;
}
main .solucoes .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 3%;
    width: 100%;
}
main .solucoes .container .box{
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    padding: 20px;
    width: 400px;
    height: 450px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px #00000033; 
}
main .solucoes .container .box i{
    font-size: 70px;
    margin: 20px;
    color: orangered;
}
main .solucoes .container .box h3{
    font-size: 30px;
}
main .solucoes .container .box p {
    font-size: 1rem;
    margin: 20px 0;
}
main .solucoes .container .box a {
    background: orangered;
    color: #ffffff;
    margin: 20px 0px;
    padding: 5px 50px;
    border: #ffffff solid 3px;
    border-radius: 10px;
}


.vers-del-dia{background-color: #000000;
    margin: 0;
    padding: 0px;
    height: 10000px;

    text-align: center;
    font-size: 2rem;
    color: orangered;
}
.vers-del-dia .barra{background-color: rgba(255, 0, 0, 0);
    width: 100%;
    height: 250px;
    margin: 0;
    padding: 0;
}
.vers-del-dia .barra iframe {
    width: 100%;
    height: 25vh;
}
.biblia-online{background-color: #239217;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10PX;
}
.biblia-online .box{background-color: red;
    width: 50%;
    padding: 10px;
}


/*  -----------  Section Sobre  ----------  */
main .sobre{background-color: #23921700;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: 100px 0 0 0;
}
main .sobre h2{
    margin: 0 0 0 0;
    font-size: 50px;
    font-weight: 700;
}
main .sobre .container {background-color: rgba(242, 255, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
}
main .sobre article{background:rgba(255, 68, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    padding: 10px;
}
main .sobre article iframe{background-color: rgba(34, 255, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    border-radius: 10px;
}
main .sobre aside{background-color: rgba(238, 130, 238, 0);
    width: 50%;
    height: 95%;
    padding: 30px;
    text-align: right;
}
main .sobre aside h3{
    color: orangered;
}
main .sobre aside h2{
    font-size: 2rem;
    font-weight: 800;
}
main .sobre aside p{
    margin: 20px 0;
}
main .sobre aside a{
    background: orangered;
    color: #ffffff;
    margin: 20px 0px;
    padding: 5px 50px;
    border: #ffffff solid 3px;
    border-radius: 10px;
}

/*  -----------  Section Contatos  ----------  */
main .contatos{background: #cacaca;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    padding: 110px 0 0 0;
}
main .contatos .container{background-color: #23921700;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 85%;
    max-width: 1200px;
    height: 600px;
    padding: 0px 0;
}
main .contatos .container article{ background-color: rgba(0, 255, 255, 0);
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    flex-direction: column;
    width: 50%;    
    height: 90%;

}
main .contatos .container .ctt-txt{background-color: rgba(255, 0, 0, 0);
    width: 100%;
}
main .contatos .container .ctt-txt h2{
    font-size: 2rem;
    color: orangered;
}
main .contatos .container .ctt-txt article p{
    margin: 20px 0;
    padding: 0px 0;
}
main .contatos .container .ctt-txt article a{
    color: #000000;
    margin: 0px 0px;
    padding: 5px 1  px;
    border-radius: 10px;
}
main .contatos .container .ctt-txt .whatsapp {background-color: rgba(255, 0, 0, 0);
    padding: 50px 0;
    width: 100%;
    height: 200px;

}
main .contatos .container .ctt-txt .whatsapp a{
    width: 90%;
    margin: 20px 0;
    padding: 10px;
    background: #29A71A;
    font-size: 30px;
    text-align: center;
    color: #fdfdfd;
    border: rgb(255, 255, 255) solid 2px;
    border-radius: 10px;
}
main .contatos .container .ctt-txt .whatsapp a:hover{
    background: #239217;
}
main .contatos .container aside{ background-color: rgba(255, 140, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    width: 50%;    
    height: 90%;
}
main .contatos .container aside form{background-color: gray;
    width: 90%;  
    max-width: 500px;  
    height: 90%;
    padding: 20px;
    border-radius: 10px;
}
main .contatos .container aside form .form-group{background-color: rgba(255, 0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 10px;
}
main .contatos .container aside form .form-group label{background-color: #28a71a00;
    width: 100%;
}
main .contatos .container aside form .form-group input, select{
    width: 100%;
    height: 40px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.225);
}
main .contatos .container aside form .form-group textarea{
    width: 100%;
    height: 70px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.225);
}
main .contatos .container aside form button {background-color: orangered;
    width: 100%;
    padding: 30px 0;
    border-radius: 10px;
    border: none;
    font-size: 1.5rem;  
    cursor: pointer; 
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.225);
 
}
main .contatos .container aside form button:hover{
    background-color: rgb(222, 59, 0);
    color: white;
}

/*  -----------  Section Mapa  ----------  */
main .localizacao{background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}
main .localizacao .container{background-color: #29A71A;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
main .localizacao .container iframe{
    width: 100%;
}
/*  -----------  Section Footer  ----------  */
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 150px;
    padding: 20px 20px;
    background: #000000;
    color: #e7e7e7;
}
footer a {
    color: orangered;
}
footer a:hover {
    color: rgba(255, 68, 0, 0.774);
}
